{% extends 'base.html.twig' %}
{% block title %}Interactions{% endblock %}

{% block body %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 dark:bg-slate-700">
    <!-- User interaction --->
    <div class="bg-gray-300 bg-opacity-30 rounded-lg m-5 dark:bg-slate-800">
        <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-10">
            <div class="space-y-12">
                <ul role="list" class="space-y-12 lg:grid lg:grid-cols-1 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">
                    <li>
                        <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                            <div class="h-0 aspect-w-3 aspect-h-2 sm:aspect-w-3 sm:aspect-h-4">
                                {% if app.user.avatar is defined and app.user.avatar is not null %}
                                    <img class="object-cover shadow-lg rounded-lg" src="{{ asset('images/avatars/' ~ app.user.avatar ) }}" alt="avatar-{{ app.user.firstname }}">
                                {% else %}
                                    <img class="object-cover shadow-lg rounded-lg" src="{{ asset('images/avatars/avatar_default.jpg') }}" alt="avatar-default">
                                {% endif %}
                            </div>
                            <div class="sm:col-span-2">
                                <h2 class="text-3xl text-gray-900 font-extrabold tracking-tight sm:text-4xl dark:text-gray-300">Bonjour {{ app.user.fullName }}!</h2>
                                <div class="space-y-4 prose">
                                        <p class="text-gray-600 dark:text-gray-400 pt-3">Retrouver la moyenne de votre score des feedbacks attribué par l'ensemble des participants</p>
                                        {% include 'includes/_start_rate.html.twig' with {idGrade:'interaction_page_rate_star', scoreGrade:middleScoreGrade, class:'interaction_page', size_start:'start_inter' } %}
                                    <div class="flex space-x-2 mt-12">
                                        <button id="btn-feed-received" class="btn-feed-received">FeedBack Reçu</button>
                                        <button id="btn-feed-send" class="btn-feed-send">FeedBack Envoyer</button>
                                    </div>

                                    <div class="text-lg">
                                        <div id="allFeedbackCurrent" class="text-lg leading-6 font-medium space-y-1">
                                            <!-- list des feedbacks envoyés par l'utilisateur courant !!! Attention si vous modifiez la couleur la condition n'est pas remplit !!! --->
                                            {% include 'home/_card_feedbacks_list.html.twig' with { allFeeds : allFeedsSend, state: 'send', color: 'violet' } %}

                                            <!-- list des feedbacks reçus par l'utilisateur courant !!! Attention si vous modifiez la couleur la condition n'est pas remplit !!! --->
                                            {% include 'home/_card_feedbacks_list.html.twig' with { allFeeds : allFeedReceived, state: 'received', color: 'emerald' } %}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Team interaction --->
    <div class="max-w-6xl mx-auto">
        <div class="bg-white overflow-hidden p-4 dark:bg-slate-700">
            <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
                {% for interaction in interactions %}
                        <li class="col-span-1 flex flex-col text-center bg-gray-300 bg-opacity-30 rounded-lg shadow-lg divide-y divide-gray-200 dark:bg-slate-800 dark:divide-slate-900">
                            <div class="flex-1 flex flex-col p-8">
                                {% if interaction.avatar is defined and interaction.avatar is not null %}
                                <img class="w-32 h-32 flex-shrink-0 mx-auto rounded-full"
                                     src="{{ asset('images/avatars/' ~ interaction.avatar ) }}"
                                     alt="{{ 'avatar-' ~ interaction.firstname }}">
                                {% else %}
                                    <img class="w-32 h-32 flex-shrink-0 mx-auto rounded-full"
                                         src="{{ asset('images/avatars/avatar_default.jpg') }}"
                                         alt="default logo">
                                {% endif %}
                                <h3 class="mt-6 text-gray-900 text-sm font-medium dark:text-gray-300">{{ (interaction.firstname ~ ' ' ~ interaction.lastname)|capitalize }}</h3>
                                <!--
                                Si on souhaite afficher des infos supplémentaire

                                <dl class="mt-1 flex-grow flex flex-col justify-between">
                                    <dt class="sr-only">Title</dt>
                                    <dd class="text-gray-500 text-sm">Paradigm Representative</dd>
                                    <dt class="sr-only">Role</dt>
                                    <dd class="mt-3">
                                      <span class="px-2 py-1 text-green-800 text-xs font-medium bg-green-100 rounded-full">Admin</span>
                                    </dd>
                                </dl>
                                --->
                            </div>
                            <div class='buttonFeedClick'>
                                <div class="feedbackButton -mt-px flex divide-x divide-gray-200">
                                    <div class="-ml-px w-0 flex-1 flex dark:hover:bg-slate-400 hover:bg-slate-700 hover:opacity-30 hover:rounded-br-lg hover:rounded-bl-lg focus:bg-slate-700  focus:opacity-30 focus:rounded-br-lg focus:rounded-bl-lg">

                                        <button name="user"
                                           data-uid="{{ interaction.id }}"
                                           data-firstname="{{ interaction.firstname }}"
                                           data-lastname="{{ interaction.lastname }}"
                                           data-email="{{ interaction.email }}"
                                           class="dataButtonFeedback relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-100 dark:text-gray-300 dark:hover:text-gray-100 dark:focus:text-xl dark:focus:text-gray-50">
                                            <span class="ml-3">Feedback ici</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
    <!-- Modal feedback include --->
    {{ include('home/_modal_feedback.html.twig',{ feedForm : feedForm, countfeedToday: countfeedToday } ) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inter') }}
{% endblock %}