{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        {% include '_alert.html.twig' with { 'color': 'red', 'flashText': error.messageKey|trans(error.messageData, 'security') } %}
    {% endif %}
    <h2 class="m-5 leading-6 text-indigo-600 font-semibold tracking-wide uppercase text-center">Interations Lab</h2>

    <div class="max-w-full mx-10 lg:max-w-md lg:mx-auto">

        <h1 class="my-3 text-center font-bold text-2xl md:text-4xl dark:text-gray-300">Connexion</h1>
        <p class="text-center dark:text-gray-100">Afin d'accéder à l'application et de commencé l'expérience</p>

        <form action="{{ path('app_login') }}" method="POST">
            <div class="my-6 dark:text-gray-100">
                <label for="username" class="block text-lg md:text-md font-medium text-gray-700 dark:text-gray-300">Email</label>
                <div class="mt-1">
                    <input type="text" name="_username" id="username" value="{{ last_username }}" class="text-gray-900 shadow-sm dark:focus:ring-gray-400 dark:focus:border-gray-600 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>
            <div class="my-6">
                <label for="password" class="block text-lg md:text-md font-medium text-gray-700 dark:text-gray-300">Mot de passe</label>
                <div class="mt-1">
                    <input type="password" name="_password" id="password" class="shadow-sm focus:ring-indigo-500 dark:focus:ring-gray-400 dark:focus:border-gray-600 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>
            <div class="flex flex-col justify-center py-6">
                <a href="{{ path('app_forgot_password_request') }}" class="w-2/4 block mx-auto text-center my-3 underline underline-offset-2 text-lg md:text-md hover:cursor-pointer dark:text-gray-100">Mot de passe oublier</a>

                <button type="submit" class="login-btn-blue">Connexion</button>

                <a href="{{ path('app_home') }}" class="w-2/4 block mx-auto text-center my-3 underline underline-offset-2 text-lg md:text-md hover:cursor-pointer dark:text-gray-100">Retour Accueil</a>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </form>
    </div>
{% endblock %}
