<!DOCTYPE html>
<html lang="fr" class="h-full scroll-smooth">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Interactions Lab{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon_light.jpg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('global') }}
        {% endblock %}
    </head>
    <body class="h-full dark:bg-slate-700 transition duration-200 ease-in-out">
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ include('_alert.html.twig', { color : label, flashText : message}) }}
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
